<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h2 class="title">Полноразмерная картинка</h2>
    <a class="back" href="index.php">На главную</a>
    <div class="wraper">

          <img src="{{ name }}">
        
    </div>    
  </body>
</html>