<html>
  <head>
  <link rel="stylesheet" href="css/style.css"></head>
  <body>
        <a class="redirect_link" href="index.php">Вернуться в каталог</a>
        <div class="content">
            <img src= {{ src }} alt = 'gallery_img'><br>
            <h4>Просмотров: {{ count }}</h4>
            <h2>{{ product_name }}</h2>
            <h3 class="price">${{ price }}</h3>
            <p class="description">>{{ description }}</p>
        </div>
  </body>
</html>
