<footer>			
	<div class='footer'> 						
		<div class='FooterR'> 
			<ul class="menuF">
				<li><a href="#">Интернет магазин "Пчелка"</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Персональные данные</a></li>	
				<li><a href="#">Контакты</a></li>	
			</ul>	
			<ul class="menuF">
				<li><a href="#">Покупателям</a></li>
				<li><a href="#">Бонусная программа</a></li>
				<li><a href="#">Подарочные карты</a></li>	
				<li><a href="#">Доставка</a></li>	
			</ul>
			<ul class="menuF">
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Как оформить заказ</a></li>
				<li><a href="#">Информация для юр. лиц</a></li>	
				<li><a href="#">Статусы заказов</a></li>	
			</ul>	
			<ul class="menuFA">
				<li><a href="#">Мы в соцсетях</a></li>
				<li><a href="#"><img src='../assets/images/iсon_A.png'></a></li>
				<li><a href="#"><img src='../assets/images/iсon_A.png'></a></li>
				<li><a href="#"><img src='../assets/images/iсon_A.png'></a></li>										
			</ul>	
		
		</div> 	
		<div class='FooterL'> Все права защищены. Интернет магазин "Пчелка"&nbsp &#0169 2018г.&nbsp&nbsp&nbsp </div> 
	</div> 			
</footer>